body {
  margin: 0;
  padding: 0;
  background-color: #f2fffd;
  font-family: "Niramit", sans-serif;
}

.top-background {
  background-color: #5497a7;
  color: white;
}

.section-title {
  font-size: 24px;
}

.section-subtitle {
  font-size: 16px;
  font-style: italic;
}

.container {
  margin: 0 auto;
  width: 700px;
}

header {
  padding: 2rem;
}

/* NAVBAR */
.menu {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-link:hover {
  color: #c1edcc;
  font-size: 20px;
}

.menu-link {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.photo-header {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* GENERAL STYLING */
.name {
  font-style: bold;
  font-size: 24px;
  color: white;
}

.title {
  font-style: bold;
  font-size: 16px;
  color: white;
}

::selection {
  background-color: #c1edcc;
}

/* ABOUT */
.ab > p::first-letter {
  font-weight: bolder;
}

/* SKILLS */
.skills-list {
  list-style: none;
}

.skill-flex {
  display: flex;
  justify-content: space-between;
}

meter {
  flex: 5;
}

span {
  flex: 1;
}

.percentage {
  flex: 1;
  margin: 0;
  margin-left: 1rem;
}

/* EXPERIENCE */
.experience-flex {
  display: flex;
  align-items: flex-start;
}

.date {
  font-size: 16px;
  font-weight: 600;
}

.company {
  font-size: 24px;
  font-weight: 700;
  margin-top: 0;
  color: #50858b;
}

.company-date {
  flex: 1;
}

.title-description {
  flex: 2;
}

/* FOOTER */
.footer-flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer-background {
  padding: 2rem;
  background-color: #50858b;
}

.footer-links {
  font-size: 12px;
  font-weight: 400;
}
